<h2 mat-dialog-title>
  {{ data ? "Editar" : "Novo" }}
  Atendimento
</h2>

<mat-dialog-content>
  <form class="form" [formGroup]="form">
    <div class="row">
      <mat-form-field>
        <mat-label> Paciente </mat-label>

        <input
          matInput
          [(ngModel)]="pacienteBusca"
          [ngModelOptions]="{ standalone: true }"
          (ngModelChange)="filtrarPacientes()"
          [matAutocomplete]="auto"
        />

        <mat-autocomplete
          #auto="matAutocomplete"
          [autoActiveFirstOption]="false"
          (optionSelected)="selecionarPaciente($event.option.value)"
        >
          <mat-option
            *ngFor="let paciente of pacientesFiltrados"
            [value]="paciente"
          >
            {{ paciente.nome }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label> Data e Hora </mat-label>

        <input matInput type="datetime-local" formControlName="dataHora" />
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label> Descrição </mat-label>

      <textarea matInput rows="6" formControlName="descricao"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label> Status </mat-label>

      <mat-select formControlName="status">
        <mat-option value="Ativo"> Ativo </mat-option>

        <mat-option value="Inativo"> Inativo </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="fechar()">Cancelar</button>

  <button mat-raised-button (click)="salvar()">Salvar</button>
</mat-dialog-actions>
