.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 700px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

mat-form-field {
  width: 100%;
}

mat-dialog-content {
  width: 700px;
  overflow-x: hidden;
  max-height: 70vh;
}

button[color="warn"] {
  background: #ee4f4f;
  color: #fff;
}

@media (max-width: 768px) {
  .row {
    grid-template-columns: 1fr;
  }

  mat-dialog-content {
    width: auto;
  }
}
