.sidebar {
  width: 240px;
  height: 100vh;
  background: #0f172a;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h1 {
  font-size: 20px;
  margin-bottom: 30px;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

nav a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s;
}

nav a:hover {
  background: #1e293b;
}

mat-icon {
  font-size: 20px;
}
